
/* Your CSS Code here. */
.item{
	width:100px;
	height:100px;
	
}
.item1{
	background-color:green;
}
.item2{
	background-color:red;
}
.item3{
	background-color:blue;
}
.flex{
	display:flex;
	align-item:center;
	justify-content:center;
	flex-wrap:wrap
	
}